name: Deployment Workflow

on:
  push:
    branches: [master]

jobs:
  deploy:
    name: Deploy
    runs-on: ubuntu-latest
    steps:
      - name: Deploy botonera
        uses: appleboy/ssh-action@v0.1.4
        with:
          host: 45.7.231.47
          username: root
          key: ${{ secrets.SSH_SECRET }}
          port: 22222
          script: |
            set -e
            export NVM_DIR="$HOME/.nvm"
            [ -s "$NVM_DIR/nvm.sh" ] && . "$NVM_DIR/nvm.sh"
            [ -s "$NVM_DIR/bash_completion" ] && . "$NVM_DIR/bash_completion"
            cd botonera
            git pull origin master
            pm2 restart botonera
            cd web
            npm run build
            rm -rf /var/www/botonera/*
            cp -r dist/* /var/www/botonera/
